{% extends 'layout_page.twig' %}

{% set page = 'files' %}

{% block title %}GitList{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: breadcrumbs} %}

    <div class="source-view">
        <div class="source-header">
            <div class="meta"></div>

            <form action="/submit?repo={{ repo }}&sha1={{ sha1 }}&file_name={{ file }}" method="post" class="btn-group pull-right">
                {% if (fileType == 'notebook' or fileType == 'python') %}
                <button class="btn btn-small"><i class="icon-play"></i> Execute</button>
                {% endif %}
                <a href="{{ path('blob_raw', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}" class="btn btn-small"><i class="icon-file"></i> Raw</a>
                <a href="{{ path('blame', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}" class="btn btn-small"><i class="icon-bullhorn"></i> Blame</a>
                <a href="{{ path('commits', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}" class="btn btn-small"><i class="icon-list-alt"></i> History</a>
            </form>
        </div>
        {% if fileType == 'image' %}
        <center><img src="{{ path('blob_raw', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}" alt="{{ file }}" class="image-blob" /></center>

        {% elseif fileType == 'markdown' %}
        <div class="md-view"><div id="md-content">{{ blob }}</div></div>

        {% elseif fileType == 'notebook' %}
        <iframe class="notebook" src="/render?{{ repo }}&branch={{ branch }}&file={{ file }}"></iframe>

        {% else %}
        <pre id="sourcecode" language="{{ fileType }}">{{ blob|htmlentities|raw }}</pre>
        {% endif %}
    </div>

    <hr />
{% endblock %}
